/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

#bandeauAdmin{
	width: 100%;
	padding: 20px;
	left: 0;
	top: 0;
	text-align: center;
	background-color: black;
	font-family: 'Work Sans' ;
}

#bandeauAdmin span {
	margin: 10px;
	font-size: 16px;
	color: white;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.selectorMenu {
	display: flex;
	justify-content: center;
}

.selectorProject {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	margin : 2em 0.25em;
	padding: 0.5em 1em;
	text-align: center;
	border:  solid 1px #1D6154;
	border-radius: 60px;
	cursor: pointer;
}

.selectorProject:hover,
.selectorProjectSelect,
button {
	color: white;
	background-color: #1D6154;
	font-family: 'Syne';
	font-weight: 700;
	margin : 2em 0.25em;
	padding: 0.5em 1em;
	max-width: 200px;
	text-align: center;
	border:  solid 1px #1D6154;
	border-radius: 60px;
	cursor: pointer;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
	color: inherit;
}

#loginLink {
	font-weight: bold;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portFolioTitle {
	display: flex;
    justify-content: center;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#modifBtn {
	position: absolute;
	cursor: pointer;
	margin-left: 300px;
    margin-top: 10px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 485px;
	object-fit: cover;
}

.modalTrue {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modalWrapper {
	overflow-y: auto;
	overflow-x: hidden;
	width: 600px;
	max-width: calc(100vw - 30px);
	max-height: calc(100vh - 30px);
	padding: 60px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.bandModalWrapper{
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	justify-content: space-between;
}

.closeBtn span,
.backBtn span,
.modalHidden,
.logStatut,
.jsLoadImgContainHidden {
	display: none;
}

.modalProjects {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	border-bottom: solid 1px;
}

.imgGalleryUpdate{
	width: 100px;
	height: 133px;
	margin-bottom: 2em;
	object-fit: cover
}

.trashBtn {
	position: relative;
    left: 95px;
    bottom: 140px;
	background-color: black;
	color: white;
	border: solid 2px black;
	border-radius: 4px;
	cursor: pointer;
}

.uploadForm h2 {
	color: black;
}

.uploadForm form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.uploadBtn {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #a7a7a7;
	width: 300px;
	margin : 2em auto ;
	text-align: center;
	border-radius: 60px ;
	cursor: default;
}

.uploadBtnReady {
	font-family: 'Syne';
	font-weight: 700;
	background-color: #1D6154;
	color: white;
	width: 300px;
	margin : 2em auto ;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

#divUploadControl{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.jsLoadFigure {
	display: contents;
	height: 300px;
}

.jsLoadImg {
	width: auto; 
	height: 100%;
}

#imgUpload {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 500px;
	height: 200px;
	background-color: #e8f1f6;
}

#imgUpload i {
	margin: 20px;
	color: #c3d0d6;
}

#imgUpload label {
	color: #306685;
	background-color: #c3d0d6;
	padding: 0.5em;
	margin: 0.5em;
	width: 150px;
	text-align: center;
	font-weight: bold;
	border-radius: 60px;
	cursor: pointer;
}

#imgUpload span {
	margin-bottom: 1em;
}

.uploadFormDiv {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin-top: 1em;
}

.uploadFormDiv label {
	font-size: larger;
	margin-bottom: 0.2em;
}

.uploadFormDiv input,
.uploadFormDiv select {
	width: 100%;
}

#selectForm {
	border-bottom: solid 1px black;
    padding-bottom: 40px;
}

.modalHidden button {
	border: none;
	width: 200px;
	padding: 0.5em 1em;
}

#contact,
#login {
	width: 50%;
	margin: auto;
}

#login{
	margin: 20% auto;
}

#contact > *,
#login > *,
#login a {
	text-align: center;
	color: inherit;
}

.messageError,
#messageSucces {
	text-align: center;
	color: red;
	font-size: large;
	margin: 20px;
}

#messageSucces {
	color: green;
}

#contact h2,
#login h2{
	margin-bottom: 20px;
}
#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input,
.uploadFormDiv input,
.uploadFormDiv select,
.uploadForm input[type="submit"] {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
}

.contact input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	border: none;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

